In [87]:
data = './data/data.csv'

In [88]:
import numpy as np
import pandas as pd

import os 
from os import walk
from os import path

import glob
import sys
import math
import re

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from bs4 import BeautifulSoup

from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

from keras.models import Sequential, Model
from keras.layers import Dense, Embedding, LSTM, GRU, Dropout, Flatten
from keras.layers.embeddings import Embedding
from keras import optimizers
from keras import applications, optimizers
from keras.utils import np_utils
from keras.models import model_from_json
from keras.models import load_model
from keras.utils import plot_model

In [113]:
df = pd.read_csv(data)

In [114]:
df.head()

                                                News   Class
0  ঢাকা, অক্টোবর ০৭ (বিডিনিউজ টোয়েন্টিফোর ডটকম) -...  sports
1  যে বিশ্বকাপে হামেশাই ৩০০ পেরোনো ইনিংসের দেখা ম...  sports
2  ক্রিকেটের শ্রেষ্ঠত্ব বিচারের সর্বোচ্চ মঞ্চ হলো...  sports
3  আট বছর আগের দুঃস্মৃতি আজও বুকে শেল বিঁধিয়ে দে...  sports
4  ঢাকা, জানুয়ারি ৩০ (বিডিনিউজ টোয়েন্টিফোর ডটকম) ...  sports

In [117]:
df.shape

(22674, 2)

In [118]:
def remove_html_tags(raw_review):
    review_text = BeautifulSoup(raw_review,'lxml').get_text()
    return review_text

df['News'] = [remove_html_tags(i) for i in df['News']]

In [132]:
punctuation_signs = list('!"#$%&()\'‘‘*+,’-./:;<=>?@[\\]^_`“”{|}~\t\n।')

for punct_sign in punctuation_signs:
    df['News'] = df['News'].str.replace(punct_sign, ' ')

In [139]:
def escape_ansi(line):
    line = re.sub('[০-৯]+', ' সংখ্যা ', line)
    line = re.sub('[0-9]+', ' সংখ্যা ', line)
    return line

df['News'] = [escape_ansi(i) for i in df['News']]

In [130]:
def escape_ansi(line):
    line = line.replace('\n','')
    line = line.replace('\t','')
    line = line.replace("\'",'')
    line = line.replace("\"",'')
    line = line.replace("‘",'')
    line = line.replace("’",'')
    line = line.replace("  ",' ')
    line = line.replace("\xa0",' ')
    line = line.replace("\u2008",' ')
    return line

df['News'] = [escape_ansi(i) for i in df['News']]

In [140]:
df['News'][19998]

'সোশ্যাল মার্কেটিং কোম্পানির এসএমসি  সংখ্যা তম বার্ষিক সাধারণ সভা সম্প্রতি প্রতিষ্ঠানটির প্রধান কার্যালয়ে অনুষ্ঠিত হয়েছে এতে সভাপতিত্ব করেন এসএমসি বোর্ড অব ডিরেক্টরসের চেয়ারম্যান মোহাম্মদ আলী সভায় কোম্পানির  সংখ্যা  অর্থবছরের জন্য নতুন অডিটর নিয়োগ দেওয়া ছাড়াও ডিরেক্টরস রিপোর্ট অডিটরস রিপোর্ট অনুমোদন করা হয় বিজ্ঞপ্তি '

In [141]:
l = list()
for x in range(0, len(df['News'])):
    news = df['News'][x]
    if(len(news)==0):
        l.append(x)
print(l)

[1006, 3072, 3151, 3638, 3746, 4526, 4590, 4717, 8080, 8165, 8211, 8271, 8308, 8313, 8326, 8327, 8335, 8345, 8466, 8480, 8485, 8533, 8535, 8577, 8668, 8683, 8814, 8830, 8847, 8861, 8887, 8929, 8970, 9048, 9209, 9224, 9227, 9266, 9283, 9338, 9346, 9364, 9406, 9409, 9424, 9517, 9528, 9703, 9705, 9834, 9942, 9969, 9978, 10004, 10005, 10146, 10162, 10189, 10235, 10236, 10283, 10313, 10405, 10427, 10463, 10465, 10559, 10619, 10639, 10729, 10748, 10787, 10872, 10879, 10899, 11205, 11225, 12564, 12701, 14270, 14456, 17781, 17796, 17888, 17894, 18039, 18393, 18468, 19170, 19750, 20131, 21286, 21288, 21711, 21967, 22590]

In [142]:
df = df.drop(x for x in l)

In [144]:
df.to_csv('./data/data1.csv')