# Import Packages

In [1]:
import numpy as np
import pandas as pd

import os 
from os import walk
from os import path

import glob
import sys

# Set Paths

In [2]:
Data = '/media/protik/Drive E/Pipilika/DataSets/Data/'
Codes = '/media/protik/Drive E/Pipilika/Codes/News Classification/'

# Classes

In [3]:
classnames = []
for (dirpath, dirnames, filenames) in walk(Data):
    classnames.extend(dirnames)
    break
print(classnames)
print("Number of Classnames: ",len(classnames))

['sports', 'politics', 'science', 'weather', 'entertainment', 'accident and crime', 'economics', 'international']
Number of Classnames:  8

# Create a CSV File

In [4]:
data_path = [(Data+i+'/') for i in classnames]
paths = ['{}{}'.format(folder,"*.txt") for folder in data_path]
files = []
for i in paths:
    xx = glob.glob(i)
    files = files + xx
print(len(files))

22675

In [5]:
content = []
content_class = []

def get_classname(string):
    directory_name = os.path.dirname(string)
    class_name = os.path.basename(directory_name)
    return class_name

for i in files:
    f = open(i, "r")
    news = f.read()
    content.append(news)
    content_class.append(get_classname(i))
    f.close()
    
print("Length of Contents: ",len(content))
print("Length of Content Classes: ", len(content_class))

Length of Contents:  22675
Length of Content Classes:  22675

In [6]:
d = {'News': content, 'Class': content_class}
df = pd.DataFrame(d)

In [7]:
df.head(5)

                                                News   Class
0  ঢাকা, অক্টোবর ০৭ (বিডিনিউজ টোয়েন্টিফোর ডটকম) -...  sports
1  যে বিশ্বকাপে হামেশাই ৩০০ পেরোনো ইনিংসের দেখা ম...  sports
2  ক্রিকেটের শ্রেষ্ঠত্ব বিচারের সর্বোচ্চ মঞ্চ হলো...  sports
3  আট বছর আগের দুঃস্মৃতি আজও বুকে শেল বিঁধিয়ে দে...  sports
4  ঢাকা, জানুয়ারি ৩০ (বিডিনিউজ টোয়েন্টিফোর ডটকম) ...  sports

In [8]:
print("Shape: ",df.shape)

Shape:  (22675, 2)

In [9]:
export_csv = df.to_csv (r'{}{}'.format(Data,"data.csv"), index = None, header=True)

# Load DataFrame

In [10]:
new_df = pd.read_csv('{}{}'.format(Data,"data.csv"))
new_df.head()

                                                News   Class
0  ঢাকা, অক্টোবর ০৭ (বিডিনিউজ টোয়েন্টিফোর ডটকম) -...  sports
1  যে বিশ্বকাপে হামেশাই ৩০০ পেরোনো ইনিংসের দেখা ম...  sports
2  ক্রিকেটের শ্রেষ্ঠত্ব বিচারের সর্বোচ্চ মঞ্চ হলো...  sports
3  আট বছর আগের দুঃস্মৃতি আজও বুকে শেল বিঁধিয়ে দে...  sports
4  ঢাকা, জানুয়ারি ৩০ (বিডিনিউজ টোয়েন্টিফোর ডটকম) ...  sports

In [11]:
print(new_df.shape)

(22675, 2)